@import "tailwindcss";
@import "../app/_variables.scss";
@import "../app/_base";
@import "../app/_functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111214;
  // overflow: hidden;
}

// @import "tailwindcss";

:root {
  --background: #111214;
  --foreground: #171717;
  --font-inter: 'inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111214;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-inter), sans-serif;
}
